#
# ias-test-hmi.service
#
[Unit]
Description=Start ias test hmi
After=ias.service

[Service]
User=ias
Environment="XDG_RUNTIME_DIR=/run/ias"
ExecStart=/usr/libexec/ias-test-hmi

[Install]
WantedBy=graphical.target
