#
# ias.service
#
#
# NOTE NOTE NOTE
#
# DO NOT USE THIS, THIS UNIT DOES NOT CREATE A PROPER
# SESSION AND WILL NOT RESULT IN A SECURE SYSTEM
#
# NOTE NOTE NOTE
#
[Unit]
Description=ias weston compositor

[Service]
Environment="XDG_CONFIG_HOME=/usr/share/xdg/weston" "XDG_RUNTIME_DIR=/run/ias"
Environment="LIBVA_DRIVERS_PATH=/usr/lib64/dri/" "LIBVA_DRIVER_NAME=iHD"
User=ias
Group=weston-launch
RuntimeDirectory=ias
RuntimeDirectoryMode=0700
ExecStart=/usr/bin/ias-weston-launch -- -i 0 --log /var/log/ias.log
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty2
SupplementaryGroups=input
StartupCPUShares=2048

[Install]
WantedBy=graphical.target
