#
# ias.service
#
#
# NOTE NOTE NOTE
#
# DO NOT USE THIS, THIS UNIT DOES NOT CREATE A PROPER
# SESSION AND WILL NOT RESULT IN A SECURE SYSTEM
#
# NOTE NOTE NOTE
#
[Unit]
Description=Start weston session on demand

[Service]
User ias
WorkingDirectory=/tmp
Environment="XDG_CONFIG_HOME=/usr/share/xdg/weston" "XDG_RUNTIME_DIR=/run/ias"
ExecStart=/opt/ias/usr/bin/weston-launch
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty2
SupplementaryGroups=input

[Install]
WantedBy=graphical.target
