#
# ias.service
#
# enable ias to run as <user> by running
# # cp /lib/systemd/system/ias@.service /lib/systemd/system/ias@<user>.service
# # systemctl enable ias@<user>.service
#
#
# NOTE NOTE NOTE
#
# DO NOT USE THIS, THIS UNIT DOES NOT CREATE A PROPER
# SESSION AND WILL NOT RESULT IN A SECURE SYSTEM
#
# NOTE NOTE NOTE
#
[Unit]
Description=Start weston session on demand

[Service]
WorkingDirectory=/tmp
Environment="XDG_CONFIG_HOME=/usr/share/xdg/weston" "XDG_RUNTIME_DIR=/run/wayland"
ExecStartPre=-/bin/mkdir -p /run/wayland
ExecStart=/opt/ias/usr/bin/weston-launch
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty2
SupplementaryGroups=input

[Install]
WantedBy=graphical.target
